<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Course</title>
	</head>
	<body>
		<h1>New Course Page</h1>
		<form action="/courses" method="POST">
			Name: <input type="text" name="Name" /><br />
			Category: <input type="text" name="Category" /><br />
			Company: <input type="text" name="Company" /><br />
            Link: <input type="text" name="Link" /><br />
            Reviews: <input type="text" name="Reviews" /><br />
			<input type="submit" name="" value="Add Course" />
		</form>
	</body>
	</body>
</html>