body{
    background-color:palegoldenrod;
}

.parent {
    display: flex;
    flex-wrap: wrap;
   justify-content:space-around;
}

.child{
    display: block;
}

img{
    width: 400px;
    height: 400px;
}